# Django Settings

# Create a different secret key for development and production
SECRET_KEY=your_secret_key_here

# Set to True for local development, False for production
DEBUG=True

# Set your allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app,.ngrok-free.dev
